* {
	font-family: 'Arvo', serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #C30000;
	text-shadow: 1px 1px 1px #ccc;
}

a:hover {
	color: #E29000;
}

.button {
	padding: 2px 5px;
	background-color: #E29000;
	color: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #000;
	border: 0px;
}

.button:hover {
	cursor: pointer;
	background-color: #C30000;
}

.anchorButton {
	padding: 2px 5px;
	text-decoration: none;
	background-color: #E29000;
	color: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #000;
}

.anchorButton:hover {
	background-color: #C30000;
}

.hideIt {
	display: none;
}

table th {
	padding: 10px 30px;
}

table td {
	padding: 10px;
	text-align: center;
}

.heading {
	margin: 20px 0 10px 0;
	font-size: 20px;
	color: #E29000;
}

/*---------header------------*/

#header {
	width: 80%;
	margin: 10px auto;
	padding: 10px 0;
	border-bottom: 1px solid #C30000;
}

#logo {
	display: inline-block;
	margin-right: 80px;
}

#welcome {
	display: inline-block;
	margin-right: 80px;
}

#searchForm {
	display: inline-block;
	margin-right: 80px;
}

#signOut {
	display: inline-block;
	margin-left: 80px;
}


/*----navAndMain---*/

#navAndMain {
	width: 80%;
	margin: 10px auto;
	padding: 10px 0;
}

#nav {
	display: inline-block;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 0 20px;
	border-right: 1px solid #C30000;
}

#nav a {
	display: block;
	text-decoration: none;
	padding: 20px 5px;
	color: #C30000;
}

#nav a:hover {
	color: #E29000;
}

#main {
	margin-left: 30px;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}

/*----footer----*/

#footer {
	width: 80%;
	clear: both;
	margin: 10px auto;
	padding: 20px;
	border-top: 1px solid #C30000;
}


/*-----------------------------------
--------Styling Specific Divs--------
-----------------------------------*/


#recentPatientsDiv, 
#allDiagnosesDiv,
#recentDiagnosesDiv, 
#allPatientsDiv, 
#myAccountForm, 
#changePasswordForm, 
#addPatientForm, 
#addDiagnosisForm, 
#viewDiagnosis, 
#editDiagnosisForm, 
#addImageToDiagnosis, 
#viewPatient, 
#matchingPatientsDiv, 
#matchingDiagnosesDiv, 
#diagnosisImages {
	box-shadow: 2px 2px 2px #a2a2a2;
	padding: 10px;
	margin: 10px;
	max-width: 800px;
}

#myAccountForm, 
#changePasswordForm {
	display: inline-block;
}

#recentPatientsDiv, 
#recentDiagnosesDiv {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#fullImage {
	position: fixed;
	top: 10%;
	margin: 0 auto;
	max-width: 600px;
	max-height: 500px;
	overflow-y: scroll;
	border: 3px solid #fff;
	box-shadow: 2px 2px 2px #a2a2a2;
	border-radius: 5px;
	display: none;
}

#diagnosisImages {
	max-height: 300px;
	overflow-y: scroll  
}